* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 100%;
    padding: 20px 8%;
}

#logo {
    font-size: 1.5rem;
    color: rgb(31, 3, 83);
    font-weight: 600;
}

.navbar {
    font-size: 50px;
    color: rgb(94, 0, 156);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_lista {
    display: flex;
    list-style: none;
    gap: 80px;
    text-transform: uppercase;
}

.nav_item {
    font-size: 20px;
    color: rgb(142, 17, 167);

}

.nav_item:hover {
    background-color: rgb(17, 27, 24);
    color: blue;
    text-decoration: underline;
}


.home{
    display: flex;
    min-height: calc(100vh - 91px);
}

section {
    width: 100%;
    padding: 20px 8%;
    display: flex;
}

.titulo{
    font-size: 4rem;
    color: blueviolet;
    justify-content: center;
}

.titulocor{
    color: rgb(201, 152, 247);
}
