*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
 width: 100%;
 height: 100%;
 padding: 20px 8%;
}


.navbar {
    font-size: 150px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_lista {
    display: flex;
    list-style: none;
    gap: 80px;
    text-transform: uppercase;
}