header {
 width: 100%;
 height: 100%   ;
}


.navbar {
    font-size: 150px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_lista {
    display: flex;
    list-style: none;
    gap: 80px;
    text-transform: uppercase;
}