* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 100%;
    padding: 20px 8%;
    background-color: rgb(235, 235, 235);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

}

#logo {
    font-size: 1.5rem;
    color: rgb(221, 221, 221);
    font-weight: 600;
}

.navbar {
    font-size: 50px;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_lista {
    display: flex;
    list-style: none;
    gap: 80px;
    text-transform: uppercase;
}

.nav_item {
    font-size: 20px;
    color: rgb(202, 202, 202);
    cursor: pointer;
    transition: all 0.3 ease;

}

.nav_item:hover {
    background-color: rgb(17, 27, 24);
    color: blue;
    text-decoration: underline;
}


.home{
    display: flex;
    min-height: calc(100vh - 91px);
}

section {
    width: 100%;
    padding: 20px 8%;
    display: flex;
}

.titulo{
    font-size: 4rem;
    color: rgb(0, 0, 0);
    justify-content: center;
}

.titulocor{
    color: rgb(255, 255, 255);
}
